---
---

@import "{{ site.theme }}";

/* ===== Custom overrides below ===== */

.site-header,
.site-footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.page-content {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
